{% extends "theme/ticketing_base.html" %}

{% set page_title = "Email Confirmation" %}

{% block content %}

{% if confirmed|d %}
    <p class='text-success'>
        Email address confirmed.
        <a href='{{ next }}'>Proceed to the Ticketing system.</a>
    </p>
{% elif already_confirmed|d %}
    <p class='text-info'>
        Your email address was already confirmed.
        <a href='{{ next }}'>Proceed to the Ticketing system.</a>
    </p>
{% elif bad_secret|d %}
    <p class='text-error'>
        Invalid email confirmation link. 
        Maybe try copying and pasting the whole link into the browser address bar.
        If you continue to have trouble, please email
        <a href='mailto:ticketing@selwynsnowball.co.uk'>ticketing@selwynsnowball.co.uk</a>.
    </p>
{% elif unauthenticated|d %}
    <form action="{{ url_for('.email_confirm', user_id=user_id, secret=secret) }}" method="POST" class='login-form'>
        <div class='control-group {{ bad_password|sif('error') }}'>
            <label class='control-label' for="password">Password</label>
            <div class='controls'>
                <input type="password" id="password" name="password">
                {% if bad_password|d %}
                    <span class='help-inline'>
                        Incorrect password.
                        <a href='{{ url_for('.index', section='password-forgotten') }}'>Forgotten password?</a>
                    </span>
                {% endif %}
            </div>
        </div>
        <div class='control-group'>
            <div class='controls'>
                <button type="submit">Confirm Email</button>
            </div>
        </div>
    </form>
{% endif %}

{% endblock %}
