{% extends "theme/ticketing_base.html" %}
{% set page_title = "Terms and Conditions" %}

{% block content %}
    <section class="tandc-definitions">
        <h3>Definitions</h3>
        <ul>
            <li>The person using this website to order tickets (and thereby nominated as team leader) ("the Purchaser").</li>
            <li>Any person attending the Ball that appears on the Committee's guestlist ("the Guest").</li>
            <li>The representation of a Guest's invitation to attend the Ball ("the Ticket").</li>
            <li>The event taking place at Selwyn College on 4<sup>th</sup> December 2015, otherwise known as the Selwyn Snowball ("the Ball").</li>
            <li>Those individuals appointed by the Committee of the 2015 Ball to run and administer this year's Ball ("the Committee").</li>
            <li>The guide to the events and activities planned for the Ball ("the Programme").</li>
            <li>The email that is sent to the Purchaser on completion of the online booking transaction ("the Email").</li>
            <li>All details specified in the online booking process ("the Order").</li>
        </ul>
    </section>

    <section class="tandc-main">
        <h3>Terms and Conditions</h3>
        <ol>
            <li>Various terms used in this Agreement are defined in bracketed quotes; each of the defined terms used in this Agreement begins with a capital letter.</li>
            <li>By continuing with this booking process, the Purchaser agrees to be bound by all terms and conditions laid out below.</li>
            <li>
                Successful booking of tickets (as signified by the confirmation Email) represents a firm offer,
                the acceptance of which is established by either a bank transfer to the account designated by the Committee
                or a cheque made out to the account designated by the Committee, of the value specified in the Order.
                This contract of sale is governed by these terms. On the establishment of this sale, and provided payment
                has been received (including cheques clearing, where applicable), the Committee agrees to supply the
                Tickets specified in the Email to the Purchaser a reasonable time before the date of the Ball.
            </li>
            <li>All Guests must be over the age of 18. Proof of age will be required.</li>
            <li>The Tickets are only representative of each Guest's eligibility to attend the Ball and remain the property of the Committee.</li>
            <li>The Committee reserves the right to refuse any application for Tickets.</li>
            <li>
                Tickets are non-refundable and non-transferable except where express permission is granted by the Committee.
                The decision to make the transfer or refund will be made entirely at their discretion.
                The Committee reserves the right to levy an administration charge of &pound;5 per Ticket for completing a
                refund or transfer.
            </li>
            <li>
                In the event that the Ball has to be cancelled, the Purchaser assumes the risk that remuneration may not be
                available. Partial or full refunds will be given only where the cost of such refunds can be reasonably
                recovered by the Committee.
            </li>
            <li>The Committee reserves the right to change the Programme without prior notice.</li>
            <li>Tickets will only be issued to a Purchaser upon proof of identification.</li>
            <li>
                The Committee will not be liable for any loss, damage or injury sustained at the Ball,
                except for death or personal injury caused by the negligence of the Committee.
            </li>
            <li>The Committee reserves the right to refuse any Guest admission to the Ball.</li>
            <li>
                The Committee will not tolerate drunken disorderliness or any other form of excessive behaviour and reserves the
                right to eject any persons from the Ball.
            </li>
            <li>
                The Committee reserves the right to require the search of any persons by a licensed security guard upon
                reasonable suspicion of possession of any illegal substances or weaponry.
                The Committee will contact the police where necessary.
            </li>
            <li>Unauthorised access or use of this website is prohibited and constitutes an offence under the Computer Misuse Act 1990.</li>
            <li>Any attempt to obtain Tickets by deception or fraud will result in prosecution.</li>
            <li>All decisions of the Committee are final.</li>
            <li>All terms and conditions are governed by UK law.</li>
        </ol>
    </section>
{% endblock %}
