<form action="{{ url_for('.password_login') }}" method="POST" class='login-form'>
    <div class='control-group {{ bad_email|sif('error') }} {{ should_use_raven|sif('error') }}'>
        <label class='control-label' for="loginemail">Email</label>
        <div class='controls'>
            <input type="text" id="login_email" name="email" value="{{ email|d }}">
            {% if bad_email|d %}
                <span class='help-inline'>There is no user associated with this email address.</span>
            {% elif should_use_raven|d %}
                <span class='help-inline'>Please <a href='{{ url_for('login.raven_login') }}'>log in using Raven</a>.</span>
            {% endif %}
        </div>
    </div>
    <div class='control-group {{ bad_password|sif('error') }}'>
        <label class='control-label' for="login_password">Password</label>
        <div class='controls'>
            <input type="password" id="login_password" name="password">
            {% if bad_password|d %}
                <span class='help-inline'>
                    Incorrect password.
                    <a href='{{ url_for('login.index', section='password-forgotten') }}'>Forgotten password?</a>
                </span>
            {% endif %}
        </div>
    </div>
    <div class='control-group'>
        <div class='controls'>
            <button type="submit">Log in</button>
        </div>
    </div>
</form>
