<form action="{{ url_for('.password_forgotten') }}" method="POST" class='login-form'>
    <div class='control-group {{ bad_email|sif('error') }} {{ should_use_raven|sif('error') }}'>
        <label class='control-label' for="forgotten_email">Email</label>
        <div class='controls'>
            <input type="text" id="forgotten_email" name="email" value="{{ email|d }}">
            {% if bad_email|d %}
                <span class='help-inline'>There is no user associated with this email address.</span>
            {% elif should_use_raven|d %}
                <span class='help-inline'>Please <a href='{{ url_for('.raven_login') }}'>log in using Raven</a>.</span>
            {% endif %}
        </div>
    </div>
    <div class='control-group'>
        <div class='controls'>
            <button type="submit">Reset password</button>
        </div>
    </div>
</form>
