<form action="{{ url_for('.password_signup') }}" method="POST" class='login-form'>
    <div class='control-group {{ email_invalid|sif('error') }} {{ should_use_raven|sif('error') -}}
                              {{- email_already_exists|sif('error') }}'>
        <label class='control-label' for="signup_email">Email</label>
        <div class='controls'>
            <input type="text" id="signup_email" name="email" value="{{ email|d }}">
            {% if email_invalid|d %}
                <span class='help-inline'>Invalid / unrecognised email address.</span>
            {% elif email_already_exists|d %}
                <span class='help-inline'>
                    There is already a user with that email address.
                    <a href='{{ url_for('.password_login', section='password-login') }}'>Log in</a>.
                </span>
            {% elif should_use_raven|d %}
                <span class='help-inline'>Please <a href='{{ url_for('.raven_login') }}'>log in using Raven</a>.</span>
            {% endif %}
        </div>
    </div>
    <div class='control-group {{ email_again_bad|sif('error') }}'>
        <label class='control-label' for="signup_email_again">Email (again)</label>
        <div class='controls'>
            <input type="text" id="signup_email_again" name="email_again" value="{{ email_again|d }}">
            {% if email_again_bad|d %}
                <span class='help-inline'>The email addresses didn't match.</span>
            {% endif %}
        </div>
    </div>
    <div class='control-group {{ password_short|sif('error') }}'>
        <label class='control-label' for="signup_password">Password</label>
        <div class='controls'>
            <input type="password" id="signup_password" name="password">
            {% if password_short|d %}
                <span class='help-inline'>Please pick a longer password.</span>
            {% endif %}
        </div>
    </div>
    <div class='control-group {{ password_again_bad|sif('error') }}'>
        <label class='control-label' for="signup_password_again">Password (again)</label>
        <div class='controls'>
            <input type="password" id="signup_password_again" name="password_again">
            {% if password_again_bad|d %}
                <span class='help-inline'>The passwords didn't match.</span>
            {% endif %}
        </div>
    </div>
    <div class='control-group'>
        <div class='controls'>
            <button type="submit">Signup</button>
        </div>
    </div>
</form>
